body{
    padding: 0%;
    margin: 0%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: rgb(184, 65, 253); */
    background: linear-gradient(
        to bottom right,
        rgb(45, 27, 105) 0%,
        rgb(107, 33, 168) 50%,
        rgb(217, 119, 6) 100%
    );
}

.main-page{
    width: 75%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.game-title-1{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 72px;
    font-family: "Nunito", sans-serif;
    font-weight: 900;
}

#f{ color: oklch(0.704 0.191 22.216); }
#r{ color: oklch(0.75 0.183 55.934); }
#i{ color: oklch(0.905 0.182 98.111); }
#e{ color: oklch(0.841 0.238 128.85); }
#n{ color: oklch(0.746 0.16 232.661); }
#d{ color: oklch(0.811 0.111 293.571); }
#s{ color: oklch(0.718 0.202 349.761); }

.game-title-2{
    font-size: 16px;
    font-family: "Nunito", sans-serif;
    font-weight: 400;
    color: oklch(0.924 0.12 95.746);
}

hr{
    width: 8%;
    color: oklab(0.828 0.0183479 0.188107);
}

.line1, .line2{
    font-size: 14px;
    font-family: "Nunito", sans-serif;
    font-weight: 400;
    color: oklab(0.999994 0.0000455677 0.0000200868 / 0.7);
}

.line2{
    padding-bottom: 30px;
}

.game-description{
    height: 4%;
    width: 30%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 30px;
}

#description{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 30%;
    background-color: oklab(0.999994 0.0000455678 0.0000200868 / 0.1);
    color: oklch(0.902 0.063 306.703);
    font-family: "Nunito", sans-serif;
    font-size: 12px;
    font-weight: 700;
    border: 2px solid oklab(0.999994 0.0000455678 0.0000200868 / 0.2);
    border-radius: 21px;
}

.start-button{
    height: 6%;
    width: 20%;
    padding: 20px;
}

#start{
    height: 100%;
    width: 100%;
    background-color: oklch(0.828 0.189 84.429);
    color: oklch(0.291 0.149 302.717);
    font-family: "Nunito", sans-serif;
    font-size: 18px;
    font-weight: 900;
    padding: 0%;
    margin: 0%;
    border: none;
    border-radius: 25px;
}

.line3{
    font-family: "Nunito", sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: oklab(0.999994 0.0000455678 0.0000200868 / 0.3);
}

.quiz-page{
    width: 35%;
    height: 100%;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.progress-bar-header{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-title{
    display: flex;
    align-items: center;
    gap: 5px;
}

.game-title{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-family: "Nunito", sans-serif;
    font-weight: 900;
}

#quiz, .question-counter{
    font-family: "Nunito", sans-serif;
    font-size: 20px;
    font-weight: 900;
    color: rgba(255, 255, 255, 0.600);
}

.progress-bar{
    height: 1%;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.200);
    border: none;
    border-radius: 4px;
}

.question-card{
    height: 80%;
    width: 100%;
    background-color: white;
    border: none;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.question-part{
    width: 90%;
    height: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.question-image{
    background-color: aqua;
    height: 25%;
    width: 100%;
    border: none;
    border-radius: 20px 20px 0px 0px;
}

.question-number, .question{
    font-family: "Nunito", sans-serif;
    font-weight: 900;
}

.question-number{
    font-size: 12px;
    color: #A684FF;
}

.question{
    font-size: 18px;
}

.options{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 70%;
    width: 100%;
}

.option-wrapper{
    display: flex;
    align-items: center;
    gap: 20px;
    height: 15%;
    width: 100%;
    border: 2px solid #E9D4FF;
    border-radius: 10px;
    transition: all 0.2s ease;
}

.option-wrapper:hover{
    background-color: #FAF5FF;
    border: 2px solid #9F7AEA;
}

.option-letter{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 45%;
    aspect-ratio: 1 / 1;
    border: 2px solid black;
    border-radius: 50%;
    font-family: "Nunito", sans-serif;
    font-weight: 900;
    font-size: 20px;
    margin-left: 30px;
}

.option{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40%;
    font-family: "Nunito", sans-serif;
    font-weight: 900;
    font-size: 20px;
}

.next-button{
    height: 10%;
    width: 90%;
    margin-bottom: 20px;
}
#next{
    height: 100%;
    width: 100%;
    color: #D1D5DC;
    background-color: #F3F4F6;
    font-family: "Nunito", sans-serif;
    font-size: 16px;
    font-weight: 900;
    margin: 0%;
    padding: 0%;
    border: none;
    border-radius: 20px;
}